.footer {
  background-color: #3f51b5;
  padding-top: 2rem;
  padding-bottom: 4rem;
  min-height: 8rem;
}

.title {
  color: #fff;
}

.description {
  color: #fff;
}

.footerlink,
.footerlink:hover {
  color: #fff;
}
